.manifesto-container {
  width: 100%;
  margin-bottom: 6rem;
  background-color: var(--preto-scriptum);
  display: flex;
  align-items: center;
  justify-content: center;
}

.manifesto-container h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--amarelo-scriptum);
}

@media (max-width: 768px) {
  .manifesto-container h1 {
    font-size: 1.5rem;
  }
}